
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# User-specific stuff:
.idea/**/tasks.xml
.idea/dbnavigator.xml
.idea/markdown-navigator/
.idea/runConfigurations.xml
.idea/misc.xml
.idea/modules.xml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/vcs.xml
.idea/atlassian-ide-plugin.xml
.idea/navEditor.xml

# Sensitive or high-churn files:


.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/compiler.xml
.idea/json2class_settings.xml
.idea/json2java.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/codeStyleConfig.xml
# Secret files

config/signing/releaseKeystore.properties
config/signing/releasekeystore.properties

*jks
*.keystore


app/src/main/res/font/
/.idea/assetWizardSettings.xml
/.idea/caches/

.idea/checkstyle-idea.xml
.idea/kotlinc.xml
.idea/qaplug_profiles.xml
ultrable/libs/
ultrable/src/main/res/drawable/
/detekt/
/.idea/jenkinsSettings.xm
hs_err*.log

/projectFilesBackup1/.idea/
